[2018-02-16 06:07] acs opened #4 "Add importer from a Freeplan mindmap exported in text"
In order to create the quality models in a more visual and natural way, [Freeplan](https://www.freeplane.org/) ([wikipedia](https://en.wikipedia.org/wiki/Freeplane), a fork from Freemind) can be used and once the model is visually created, it can be exported in plain text. The format for the plain text file is:

[code]

so it should not be difficult to add logic to import it to Meditor data model.

[2018-02-16 08:54] acs opened #5 "Add supported formats to the import dialog"

[2018-02-17 21:10] acs opened #6 "Use object id field instead of name in the editor"
Right now, except for metrics, meditor (prosoul) is using the name of quality editor, goal and attribute to find the related object in the database. This is not robust because the name could not be unique in some cases. So as a general approach, it is better to use always the id of the object, which must be always unique.

Right now it is not an issue because name fields are also unique:

https://

[2018-02-17 21:12] acs opened #7 "Implement the MetricData layer for CROSSMINER"
In order to collect the metrics to fill a quality model so it can be used to evaluate projects, meditor needs the metric data for each active metric in the quality model.

The goal of this task is to design and implement howto to that.

[2018-02-17 21:16] acs opened #8 "Implement the Visualization for quality models"
Once there is a quality model and it has the data for metrics included in it, it is needed to visualize this metrics in a way that the project can be evaluated according to the quality model.

Metrics data will include the value of the metrics and also, each metric will have indicators in order to evaluate it.

The visualization must show the metrics values with the indicators in order to evaluate

[2018-02-20 05:50] acs opened #9 "Change meditor name"
It is already used in:

https://pypi.org/project/meditor/

so we need a different name.

And it is time to remove the "editor" from the name because it does not more things.

[2018-02-20 06:54] acs commented on #9
Some starting points:

* essence (noun): the intrinsic nature or indispensable quality of something, especially something abstract, that determines its character.
* radiography

[2018-02-21 18:08] acs commented on #8
A first version already completed: https://github.com/Bitergia/meditor/pull/10

[2018-02-21 18:09] acs commented on #7
Already done for OSSMeter in: https://github.com/Bitergia/meditor/commit/9d1af3ca7f7f61f9277e5c83b7c242210fd030f5

[2018-02-21 18:09] #7 closed

[2018-02-21 18:12] acs opened #11 "Add metrics indicators and scores"
In order to evaluate (assess) a project using a quality model, indicators for the values of the metrics in the quality model are needed.

This indicators will include limits in the value of the metric and also, a score.

With this information, automatic assessment with scoring can be done for project using a quality model.

[2018-02-21 23:00] acs commented on #11
Implemented in https://github.com/Bitergia/meditor/pull/12

[2018-02-22 08:41] acs opened #13 "Add license headers to all files"
The GPLv3 header is not included in python souce files in the project. They need to be added.

[2018-02-22 10:16] acs commented on #8
And integrated now in the web gui. Pending to improve the visualization adding the evaluation using gauges or similar.

[2018-02-22 16:55] acs commented on #8
Closing this issue because the goal is covered. There will be improvements in the future.

[2018-02-22 16:55] #8 closed

[2018-02-22 16:56] acs commented on #11
All done for v0.1. Improvements will be done in other tickets.

[2018-02-22 16:56] #11 closed

[2018-02-22 18:01] acs opened #16 "Metric Data and Thresholds must be supported in export/import"
The grimoirelab quality model format must support that the metric data (howto get the data for the metrics in the model) and the thresholds for metric can be added to the quality model.

[2018-02-22 18:03] acs opened #17 "Create dashboard navigator for accessing the Attribute dashboards for a Quality Model viz"
In order to navigate between the different dashboards of a quality model, a navigator for the quality model attributes visualization must be created.

In a first iteration it can be just a Markdown widget with links to the different dashboards for the Quality Model viz.

[2018-02-22 18:06] acs opened #18 "Include widgets for project assessment in the QM Attribute dashboard"
Apart from showing the metrics included in an Attribute (evolution in time, and aggregated value), it is interesting that the assessment data is also present in the dashboard.

In this way, analyzing the dashoard will explain the assessment for a project with the data. The goal is to explain visually why the assessment results.

[2018-02-23 06:07] acs commented on #18
http://www.balancedscorecard.org/portals/0/images/2017/kpi%20dashboard.jpg

In meditor case, the idea is to have 5 thresholds per metric, so the gauge will have 5 regions.

[2018-02-23 07:33] acs opened #19 "Add an option to clone an exiting quality model"
One of the key features in meditor is to create new quality models evolving the existing ones (reusing goals, attributes or metrics). This workflow is a bit different from creating a new quality model from scratch, and it is more complex, so a new tab will be created, "Evolve" with a brand new editor.

[2018-02-23 07:34] acs opened #20 "Create CONTRIBUTING.md file"
Create the CONTRIBUTING.md doc based on the angular one:

https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md

* Code contribution
* Quality models contribution
* Doc contribution
* Issues contribution
* ...

[2018-02-23 16:39] acs opened #21 "Support different thresholds for the same quality model"
A clear use case is a user that want to reuse an already existing quality model but she wants to change the thresholds.

[2018-02-23 17:20] acs commented on #21
Probably the best design is:

* The metric has the default thresholds
* If the user defines different thresholds, they are stored in a new object: user, metric, thresholds
* Once a user assess a project, if she has custom thresholds, use them

[2018-02-26 11:59] acs opened #22 "Add an option to remove a quality model"

[2018-02-26 12:00] acs opened #23 "The parent of an attribute must be an exiting attribute in the same goal"

[2018-02-26 12:54] acs commented on #23
Fixed in 1479da4df3e46b65621e960c6399dc73319c839c

[2018-02-26 12:54] #23 closed

[2018-02-26 16:53] #20 closed

[2018-02-26 17:22] acs opened #25 "Add Travis for Continuous Integration"

[2018-02-27 16:52] acs commented on #9
Maybe we can just use django-meditor for the app name, and meditor for talking about it.

[2018-02-28 13:54] acs commented on #25
Already working. Closing this issue.

[2018-02-28 13:54] #25 closed

[2018-03-03 10:23] acs opened #27 "Improve Select/Unselect behavior in editor"
When selecting an item, the form must be automatically submitted. And when a selected item is selected, it must be unselected.

[2018-03-03 18:21] acs opened #29 "Add support for metrics data coming from GrimoireLab"
Already implemented in:

https://github.com/Bitergia/meditor/pull/28

This issue is just for tracking the new features.

[2018-03-03 18:21] #29 closed

[2018-03-04 00:31] acs commented on #27
All done in:

https://github.com/Bitergia/meditor/pull/30

[2018-03-04 00:31] #27 closed

[2018-03-04 00:37] acs opened #31 "Move Scope down the select columns and move quality models buttons closer"
Now that we have removed the select buttons, the Scope can be moved to the bottom of the page. Probably it can be removed and the numbers for goals, attributes and metrics and appear in the title of each column.

The Add/Import/Export buttons must be moved close to the Quality Model select widget.

[2018-03-04 11:30] acs commented on #9
The name change has started ... https://github.com/Bitergia/prosoul

[2018-03-05 16:10] acs commented on #9
Mostly done ... just need to decide what to do with videos edited for meditor. Probably I will create a new folder for doc and move them over there. I can also record another time the videos using prosoul, put probably it is not needed.

[2018-03-05 18:32] acs commented on #9
Ok, all done! Probably some minor issue will appear in the future. But **Prosoul** is here to stay!

[2018-03-05 18:32] #9 closed

[2018-03-06 05:48] acs opened #34 "Add quality model for ISO 9126"
The most used quality model as reference is the https://en.wikipedia.org/wiki/ISO/IEC_9126. We need to include it in the quality models that can be loaded in Prosoul.

The key issue here is howto define the metrics for each attribute. If a first version we can have the 9216 without metrics (no measured entities), so no viz and assessment can be done. But new quality models can be created based on

[2018-03-06 06:09] acs opened #35 "Tool for Quality Models Comparison"
The different quality models are normally evolutions between each other. So a tool to compare quality models can be useful in order to determine what quality model to use.

[2018-03-06 09:21] dlumbrer commented on #18
Now, we have the Polar visualization (https://github.com/dlumbrer/kbn_polar) in order to visualize the assessments of the metrics of one attributte. And we have also the Radar visualization (https://github.com/dlumbrer/kbn_radar) in order to visualize projects (each project is an area of the radar) with their attribute assessment (each sommet is an attribute).

So, we need to have in ES the scores

[2018-03-06 09:25] acs commented on #16
Fixed in #36

[2018-03-06 09:25] #16 closed

[2018-03-06 16:35] acs commented on #6
This is getting more and more important because as we add more quality models, the same name for attributes appears in some of them. So adding it to version 0.2.

[2018-03-06 16:37] acs commented on #19
After thinking more about it, the initial approach is that when you add a quality model, you can clone an existing one. After that, you just need to edit the new quality model for add, remove, change things from the cloned quality model. And it is easy to add it to the UI: just add a new "Clone" button in the create quality model with a select with a list of the available quality models.

[2018-03-06 19:05] acs opened #37 "Improve tests executing importers with --check option"
The goal is to execute during testing this command:

`(acs@dellx) (master % u=) ~/devel/prosoul/django_prosoul $ PYTHONPATH=. prosoul/prosoul_import.py -c -f prosoul/data/grimoirelab_qm.json
`

[2018-03-06 22:47] acs commented on #37
The test are working but they must be integrated in the testing system defined by Django. So this ticket will be open until the tests are added to:

https://github.com/Bitergia/prosoul/blob/master/django_prosoul/prosoul/tests.py

[2018-03-07 06:05] acs opened #38 "Fix ossmeter and alambic export formats"
The tests for ossmeter and alambic import/export are failing because in the exported file in the metric dict prosoul is including fields like "name" that are not in the original format. This must be removed.

To test this process use: https://github.com/Bitergia/prosoul/blob/master/django-prosoul/prosoul/tests.py#L21

[2018-03-07 06:05] acs commented on #37
I have added these tests to django test suite:

https://github.com/Bitergia/prosoul/commit/c5fd6c7407ae0c9123f36937c9b3d4a82e6484ea

The checks are failing for alambic and ossmeter format because new fields are added to metric data that are not part of the format. This will be fixed in other issue: #38

Closing this one because tests form import/export are now executed in travis for each commit.

[2018-03-07 06:05] #37 closed

[2018-03-07 20:06] acs commented on #6
Implemented in #39
The next natural step is to remove from the data model the restriction that the name must be unique.

[2018-03-07 20:06] #6 closed

[2018-03-07 20:17] acs opened #41 "Support that different goals and attributes can have the same name"
In order to clone quality models and then modify them (the best way to create new quality models form the existing ones) we need to support that different goals and attributes from different quality models have the same name.

All of this must be done carefully so the user experience is not a mess.

[2018-03-07 21:30] acs commented on #41
Working on it in:

https://github.com/Bitergia/prosoul/pull/42

[2018-03-07 22:49] acs commented on #41
All done!

[2018-03-07 22:49] #41 closed

[2018-03-07 22:51] acs opened #43 "Fix UX for add, import and export in quality models"
For using add, import and export in quality models the empty quality model must be selected.

The UX must be fixed to avoid selecting and empty quality model, which produces an error and then we can use the add, import and export features.

[2018-03-08 07:37] acs commented on #22
All ready implemented. And also the option to update the quality model.

[2018-03-08 07:37] #22 closed

[2018-03-08 07:38] acs commented on #31
All done. Scope has been removed because the information provided does not worth the space needed to show it.

[2018-03-08 07:39] acs commented on #21
Depends on #33

[2018-03-09 05:34] #31 closed

[2018-03-09 05:35] acs commented on #17
Working on it!

[2018-03-09 05:40] acs opened #46 "Design Visualization Repository Strategy"
From this repository the templates for creating the visualizations will be read for example.

Right now this repository is just a list of templates in:

https://github.com/Bitergia/prosoul/tree/master/django_prosoul/prosoul/panels

[code]

Is it worth to start defining a data model and storing the templates in a database or should we continue with this simple approach?

[2018-03-09 05:42] acs opened #47 "Read the available templates for visualization from available panels files"
The available templates are at:

https://github.com/Bitergia/prosoul/tree/master/django_prosoul/prosoul/panels

We should use them to create the select for the template when creating a new visualization for a quality model.

[2018-03-09 09:25] acs commented on #47
Done in https://github.com/Bitergia/prosoul/pull/48

[2018-03-09 09:25] #47 closed

[2018-03-10 16:11] acs opened #49 "Publish assessment data so it can be used in the dashboard"
In order to implement "Include widgets for project assessment in the QM Attribute dashboard" #18 the assessment results must be published so it can be used in this assessment widgets!

[2018-03-10 23:33] acs commented on #49
Ok, let's work on that. The result for an assessment is a JSON file with the format:

[code]

We need to convert that to something that is easy to visualize. Probably the best approach is to have one json document per score.

`attibute=Vitality, metric=GitHubEnrich, project=GrimoireELK, score=2
`

Probably with this format we can implement the viz in #18.

[2018-03-11 00:26] acs commented on #49
Done in:

https://github.com/Bitergia/prosoul/pull/50

[2018-03-11 00:26] #49 closed

[2018-03-11 00:28] acs commented on #18
After the assessment a new index grimoirelab_scores is generated with the information about the scores. For example:

[code]

@dlumbrer is that enough to start adding the assessment viz to our dashboards?

[2018-03-14 12:50] acs opened #51 "Create pip package"
Create a pip package to install easily prosoul (as an alternative of using the docker image).

[2018-03-14 12:53] acs commented on #51
Use as reference the guide:

https://github.com/jgbarah/presentations/tree/master/pip-packages

[2018-03-18 08:07] acs opened #52 "Complete the documentation"
* Add documentation in source code in rst format
** Developer guide
* Add missing general documentation
** User guide
** Install guide

[2018-03-18 08:14] acs opened #53 "Add unit testing"
Before having more code prosoul needs unit test to complete the integration testing already available,

[2018-09-18 16:48] acs opened #68 "The index pattern used in viz is `ossmeter` no matter which one is configured"
Doing a visualization for a quality model, if the metrics to be used are stored in an index called `scava-metrics`, the widgets in the dashboards generated by prosoul use `ossmeter` which is wrong. The right index must be `scava-metrics`.

[2018-09-18 17:10] acs commented on #68
It is not possible to change the index pattern in a dashboard using kidash. So as a work around, let's create an alias from the index with the metrics to the correct index name inside the template used to build the dashboard.

[2018-09-18 18:29] acs commented on #68
In #69 the fix is to create an alias from the index with the metrics to the index that the dashboard is expecting. Once it is merged this ticket can be closed.

[2018-09-18 20:02] #68 closed

[2018-09-19 08:02] acs commented on #51
Done at https://pypi.org/project/django-prosoul/

Probably we will need tl review it with care to be sure all is working and to document howto use it.

[2018-09-19 11:10] acs commented on #51
pip package reviewed and documented:

https://github.com/Bitergia/prosoul#from-pip-package

https://pypi.org/project/django-prosoul/

[2018-09-19 11:10] #51 closed

[2018-09-19 16:34] acs opened #72 "Fix loading of panels templates when read from the installed package"
In order to read the files from the install djando-prosoul package it is need:

https://stackoverflow.com/questions/6028000/how-to-read-a-static-file-from-inside-a-python-package/20885799#20885799

to be applied to the code

https://github.com/Bitergia/prosoul/blob/master/django-prosoul/prosoul/data.py#L19

[2018-09-20 05:53] #72 closed

[2018-09-20 09:42] #38 closed

[2018-09-20 10:44] acs commented on #34
Done in:

https://github.com/Bitergia/prosoul/commit/cec51d2ba4109b4e4841218f324a88b25d65a90c

from

https://en.wikipedia.org/wiki/ISO/IEC_9126

[2018-09-20 10:44] #34 closed

[2018-09-20 10:50] acs commented on #17
Right now the menu included in Kibiter is read from a file inside the .kibana index:

[code]

[2018-09-20 11:12] acs commented on #17
So the next step is to implement the automatic creation of the menú during the viz process for a quality model, It should be easy, so probably today will be finished!

[2018-09-20 17:18] acs commented on #17
FIxed in https://github.com/Bitergia/prosoul/pull/75

[2018-09-20 17:18] #17 closed

[2018-09-20 17:19] acs commented on #18
RIght now we have the panel working for showing the assessment. So we just need to do the assessment when doing the viz, and to load the right panel.

[2018-09-21 10:37] acs commented on #18
All done in: https://github.com/Bitergia/prosoul/pull/76

Now the assessment dashboard is added to kibana and to the menu.

[2018-09-21 10:59] #18 closed

[2018-09-24 08:18] acs commented on #19
Right now, without any development, the way to clone a quality model is:

* Start from a clean database
* Import the quality model
* Modify it and use it
* Export the quality model

And that's all. Probably, we can live with this workflow until there is a real need to clone quality models.

[2018-09-24 08:18] #19 closed

[2018-09-29 07:24] acs opened #79 "Add an initial REST API"
This initial REST API must be implemented with Django Rest Framework and it must support authentication.

[2018-09-29 07:59] acs commented on #46
Ok, in the first version, let's just create a special directory in which to store the templates. All the templates found in this directory will be show to be used as templates for the quality model viz.

[2018-09-29 08:09] #46 closed

[2018-09-29 09:07] acs commented on #79
First version working for quality models just following the basic steps described above.

https://github.com/Bitergia/prosoul/pull/80

The list of quality models can be obtained from:

http://localhost:8000/qualitymodels/

and to create a new quality model:

`curl -XPOST http://user:passwd@localhost:8000/qualitymodels/ --header "Content-Type: application/json" -d '{"name": "qrest1"}'
{"id":7,"name

[2018-10-03 20:39] acs commented on #79
All done! #80

[2018-10-03 20:39] #79 closed

[2018-10-03 20:40] acs opened #81 "Add REST API methods for doing the visualization and assessment"
The current REST API implements the full CRUD operations for all the data model used in ProSoul. But it lacks the operations for building a visualization for a quality model, or doing its assessment.

These operations must be added to the REST API also.

[2018-11-26 13:47] mhow2 opened #86 "docker env: ALLOWED_HOSTS issue"
I tried the PR #85 like follow.
- updated the docker image with `docker pull acsdocker/prosoul`
- Edited by docker-compose by adding my new `host.domain.ltd` to the variable:
[code]
- then I go to `host.domain.ltd:8000` and I get the following error:
[code]

* I Also verified the ALLOWED_HOSTS variable within the container :

[code]

[2018-11-27 15:15] valeriocos commented on #86
Fixed with #88 . @mhow2  feel free to close the issue if you don't detect any problem.

[2018-11-27 15:20] mhow2 commented on #86
Thanks to the fix, I've been able to run the software properly.
I first hit Error 400, then after having removed the double quote around the `ALLOWED_HOSTS` variable values it worked.

[2018-11-27 15:20] #86 closed

[2019-03-25 10:39] dlumbrer opened #96 "Move public docker image to Bitergia dockerhub"
The current image is on the acsdocker user, this issue has the aim of moving this image to the Bitergia dockerhub organization.

[2019-03-25 11:46] dlumbrer commented on #96
We have ready the repo in dockerhub: https://hub.docker.com/r/bitergia/prosoul/dockerfile/

The tag now is this one: `bitergia/prosoul`

[2019-03-25 11:46] #96 closed

[2019-03-28 17:26] valeriocos opened #98 "Prevent to query the `scava-metrics` index if doesn't exist"
[code]

[2019-04-03 07:14] mhow2 opened #110 "distinct metrics can have the same name"
In SCAVA for example, `newsgroups.activeusers` and `bugs.inactiveusers` have the same `name` value : `Inactive Users`
That's an issue when selecting the data for an attribute within the dropdown in ProSoul.
What I suggest to overcome this is to add the variable name next to the items in the dropdown

[2019-04-03 07:17] mhow2 opened #111 "data dropdown / search"
![2019-04-03_09-16](https://user-images.githubusercontent.com/9987241/55459999-25baf700-55f1-11e9-8444-0503a775cd37.png)

Would be great to have a smart system to search/suggest/autocomplete for a metric name in the data list because it can be a very huge list.

[2019-04-03 07:40] mhow2 opened #112 "model graphical view : zoom in and out , close and open nodes"
In the dendogram we don't see the whole model. It would great to be able to zoom and close/open nodes.

![2019-04-03_09-29](https://user-images.githubusercontent.com/9987241/55461265-581a2380-55f4-11e9-8f12-598f72ae2fba.png)

[2019-04-03 07:41] mhow2 commented on #112
Well I've just noticed the scroller on the right... but still it could be useful.

[2019-04-03 09:18] valeriocos commented on #98
Fixed with https://github.com/Bitergia/prosoul/commit/30761977cf281f46c5166785a4380443afe3be41

[2019-04-03 09:18] #98 closed

[2019-05-03 09:54] valeriocos opened #123 "[editor] Internal server error"
[code]

[2019-05-07 12:58] mhow2 commented on #123
Looks solved to me.

[2019-05-07 13:04] valeriocos commented on #123
Thank you for the feedback @mhow2 !

[2019-05-07 13:04] #123 closed

[2019-05-13 07:19] mhow2 opened #129 "display glitch/overlap in QM's graph"
Now that we have the display for the graph, I see there are texts that overlap with each-others. And it seems the empty gap on the right is not used. Can you have a look ?

![2019-05-13_09-16](https://user-images.githubusercontent.com/9987241/57602644-01432a80-7560-11e9-939a-39e94159a586.png)

[2019-05-13 07:22] valeriocos commented on #129
Thank you @mhow2 for reporting this issue, @dlumbrer and I will have a look at it soon.

[2019-05-13 07:29] acs commented on #129
Hi @mhow2 !

About the empty gap, if you are referring to the box with a blue border, it is not completely working in all cases. This viewer is the one adapted from [Alambic](https://github.com/borisbaldassari/alambic)  and it needs some tweaks yet to work inside ProSoul.

[2019-05-14 10:39] dlumbrer commented on #129
Hi @mhow2 , The PR that I submitted (#130) should fix this problem, shorting the large strings and adding a tooltip showing the complete name when hovering the node.

Thanks!

[2019-05-15 09:27] mhow2 opened #131 "assessing and storing time span chunks"
As discussed with Valerio I'm opening this issue.

Right now, we can assess the scores on the basis on the start/end dates selected by the user.  The resulting scores are stored back in ES as is with no relation to that time span.

What we need next is to be able to store multiple chunks back to ES, storing along the related start/end dates when the assessment took place, as well as the timestamp

[2019-05-15 11:46] valeriocos commented on #81
This issue should have been fixed with: https://github.com/Bitergia/prosoul/pull/118

@dlumbrer can we close it ?

[2019-05-17 21:32] valeriocos opened #133 "prosoul_assess fails due to `elasticsearch.exceptions.SSLError`"
This error prevents to calculate the initial qm and populate the corresponding dashboard.

[code]

[2019-05-20 07:04] valeriocos commented on #133
Fix with: https://github.com/crossminer/scava-deployment/pull/56

[2019-05-20 07:04] #133 closed

[2019-05-20 09:16] dlumbrer commented on #81
Sure!

[2019-05-20 09:16] #81 closed

[2019-05-28 14:01] mhow2 opened #140 "assessment : actual metric value/name along with score"
I think it would be a great idea to have:
- the actual metric value that has been taken into account for assessment.
- (optional) the metric variable name/id. For example add `bugs.activeusers` next to "Active Users". I'm asking this because sometimes, we have to debug what's going on directly from the SCAVA API, and we need the id for this, instead of the full name.

![2019-05-28_16-00](https://u

[2019-05-28 14:09] mhow2 opened #141 "assessment graph : scores under 1 are not displayed"
See in the following screenshot, score is zero for all metrics but it's not displayed. (it's well displayed at attribute/goal levels)

![2019-05-28_16-07](https://user-images.githubusercontent.com/9987241/58484668-cb5a9480-8162-11e9-81af-b7718d37c182.png)

[2019-05-28 14:15] mhow2 opened #142 "assessment : display calculation type"
Now that we have the possibility to choose a calculation type at the attribute level :

![2019-05-28_001](https://user-images.githubusercontent.com/9987241/58485101-ab77a080-8163-11e9-9580-612e27aaacf8.png)

From the assessment view, It could be interesting to known which calculation type has been performed for each metric.

[2019-05-28 15:47] mhow2 opened #143 "managing "emotion" metrics"
In SCAVA we have the Emotion analysis metrics, that provide the % distribution over five emotions from the analyzed comments, into the time spam.

For example, below are the last samples (at 20190331) from an analysis that ran between 20180101 to 20190331. It is for metric name `Comment Emotion Percentages (Cumulative)`

[code]

So the distribution might change everyday, along with new comments co

[2019-05-29 10:34] dlumbrer commented on #142
Hi @mhow2,

Once PR #144 is accepted, the tree and the table will show the calculation type of each metric:

![Screenshot from 2019-05-29 12-32-32](https://user-images.githubusercontent.com/9249232/58550399-eb935d80-820d-11e9-9156-59945816333e.png)
![Screenshot from 2019-05-29 12-32-19](https://user-images.githubusercontent.com/9249232/58550400-eb935d80-820d-11e9-94bc-2f318d9a8e66.png)

And the cs

[2019-05-29 10:38] #142 closed

[2019-05-29 10:38] dlumbrer commented on #142
Please @mhow2, try it when you can and feel free to reopen the issue

[2019-05-29 11:02] dlumbrer commented on #141
PR #147 should solve this bug

[2019-05-29 11:22] dlumbrer commented on #141
Please @mhow2 try it when you can, feel free to reopen the issue

[2019-05-29 11:22] #141 closed

[2019-06-06 08:37] mhow2 opened #151 "invalid threshold field value leads to "Errors: Problem creating the assessment list index out of range""
It was not obvious to me that when assessing, the message "Errors: Problem creating the assessment list index out of range" could mean that some thresholds are missing in the metric definition. Is it something that can be improved ?

We could either make threshold field mandatory - but it doesn't handy to me when you design a model without knowing much about the metric values, OR, just abort the a

[2019-06-06 08:49] mhow2 opened #152 "make metric "name" field mandatory"
We need this field to be mandatory, otherwise it would lead to an "empty" element in the UI, and probably an error later on when assessing.

![2019-06-06_10-44](https://user-images.githubusercontent.com/9987241/59019429-549b5680-8848-11e9-99ee-147ea9722d1d.png)

What I suggest to overcome this is to put a name based on the metric data name when creating the metric definition (and of course, not le

[2019-06-06 08:57] mhow2 commented on #152
BTW, once you have created a metric without a name, it's not possible to delete it:
![2019-06-06_10-56](https://user-images.githubusercontent.com/9987241/59020243-e0fa4900-8849-11e9-8e69-801b3eae85b9.png)

[2019-06-06 09:30] mhow2 opened #153 "cannot remove model"
When doing so I have the message `Errors: Can't delete not found quality model crossminer`

![Peek 06-06-2019 11-28](https://user-images.githubusercontent.com/9987241/59022588-4d774700-884e-11e9-9f1e-502bdd76783c.gif)

[2019-06-06 10:02] mhow2 opened #154 "switching from 'view' to 'edit' view is slow"
by slow I mean, 2-3 minutes.

I know that all metric's Data names should be retrieved, but are we sure that it does only this ?

[2019-06-06 10:38] mhow2 opened #155 "two metric with the same name looks not possible"
[qmodel_OW2-MRL_CMR-v0.1.json.txt](https://github.com/Bitergia/prosoul/files/3261173/qmodel_OW2-MRL_CMR-v0.1.json.txt)

In the above model (renamed to .txt), if I rename the metric `Unanswered Bugs-3` at MRL_Quality > Quality_Unanswered_Bugs_CMR to  `Unanswered Bugs-2`, I get an error `UNIQUE constraint failed: prosoul_metric.name`

I think it is somehow because  `Unanswered Bugs-2` already exists

[2019-06-07 09:18] mhow2 commented on #155
It doesn't seem only related to the current model, but against all models that are loaded in the system.
For instance, if you import the following two models one after another, you'll have the same error message and the import will fail.
[qmodel_OW2-MRL_CMR-v0.1.2.json.txt](https://github.com/Bitergia/prosoul/files/3265249/qmodel_OW2-MRL_CMR-v0.1.2.json.txt)
[qmodel_OW2-MRL_CMR-v0.1.5.json.txt](ht

[2019-06-07 09:45] dlumbrer commented on #151
Hi @mhow2 ,

The issue is due to the fact that the thresholds value is empty or contains less than 5 values. If you agree, we can add default range values (0, 1, 10, 100, 1000 for instance).

WDYT?

[2019-06-07 09:53] mhow2 commented on #151
It wont prevent the user to type less than 5 values and then fall into the same issue. Maybe we should force the user to type at least 5 comma-separated values. WDYT ?

[2019-06-07 10:08] mhow2 opened #157 "a shipped model fail to import (polarsys)"
I'm not able to import the file at https://raw.githubusercontent.com/Bitergia/prosoul/master/django-prosoul/prosoul/data/polarsys_qm.json in ProSoul. No errors is displayed either in the UI or logs but the graph is empty as well as in the edit view, when you select it has no properties.

[2019-06-07 10:08] dlumbrer commented on #151
I was thinking of the importing mode, there we can add the default values if there are not in the JSON.

But yes, you are right, we should force the user to type at least the thresholds in the right way.

Thanks

[2019-06-07 10:15] mhow2 commented on #151
The import mode is expected to take a file that was previously exported by Prosoul, so it should be valid at export time, wdyt ?
Of course if someone tweak the JSON by hand, it is somehow "unsupported" or "at your risk" so...

[2019-06-07 10:23] dlumbrer commented on #151
Ok, I'm going to force the user to put the right thresholds then

[2019-06-07 11:51] dlumbrer commented on #151
@mhow2 , please test it when you can and reopen the issue if needed, thanks!

[2019-06-07 11:51] #151 closed

[2019-06-07 12:11] dlumbrer commented on #152
I'll put that field as "required", thanks!

[2019-06-07 12:16] dlumbrer commented on #152
If you click on "Edit" you will see the Remove button, when you are adding a new metric there is no Remove button because it does not exist yet:

![Screenshot from 2019-06-07 14-14-57](https://user-images.githubusercontent.com/9249232/59103295-c221b280-892e-11e9-945e-d3393497de3f.png)

[2019-06-07 12:49] dlumbrer commented on #157
Hi @mhow2,

This error is due to the fact that there are some old quality models that were used to test. This QM does not have required fields that are now mandatory.

We are going to discuss if we maintain or remove them. But for now, they are not usable.

Thanks

[2019-06-07 13:00] dlumbrer commented on #155
The error is due to the fact that the unique id of a metric is its name. If there is more than one Metric with the same name, it could produce errors in the assessment process or in the dashboards.

So I think that the quickest and easiest way is to change the name of the Metrics when necessary.

Thanks!

[2019-06-07 13:04] #129 closed

[2019-06-07 14:48] mhow2 commented on #152
That's what I did in the screenshot actually ;)

[2019-06-07 14:56] mhow2 commented on #155
Ok, but is the uniqueness consider others models that are loaded in prosoul ? It seems to, and if yes, I don't understand why.
Generally speaking, from the user perspective, you can have a same exact metric (name and data) used in several attributes (and in several models loaded). At least it is how we have understood it.

[2019-06-07 15:15] dlumbrer commented on #152
I see!! Sorry! It seems that is a bug when the name is blank, it must be fixed then! Sorry again @mhow2

[2019-06-10 10:02] mhow2 commented on #153
So now, I'm able to delete the model without an error, however, it seems the goals/attributes/metrics aren't deleted. Below is a screenshot *after* deleting CMR:MRL model from the system
![2019-06-10_001](https://user-images.githubusercontent.com/9987241/59188300-a0ffd280-8b77-11e9-9144-3896db68ea0d.png)

[2019-06-10 10:04] mhow2 commented on #154
looks fixed !? :joy:

[2019-06-10 10:15] valeriocos commented on #154
Yes, it should be fixed with: https://github.com/Bitergia/prosoul/pull/160

Thank @mhow2 for the pointer

[2019-06-10 10:15] #154 closed

[2019-06-10 10:19] valeriocos commented on #143
@mhow2 sorry for the late reply. This feature has been added with https://github.com/Bitergia/prosoul/pull/145
If you are fine with the new feature, feel free to close this issue.

Thanks!

[2019-06-10 11:57] mhow2 commented on #143
Thanks !

[2019-06-10 11:57] #143 closed

[2019-06-10 12:11] mhow2 commented on #140
Done, thanks

[2019-06-10 12:11] #140 closed

[2019-06-10 12:34] valeriocos commented on #131
This issue was addressed by https://github.com/Bitergia/prosoul/pull/149. Furthermore, visualizations to show QM data over quarters have been added to the QM dashboard.

@mhow2 feel free to close this issue, if you are fine with it.

Thanks!

[2019-06-10 13:26] #153 closed

[2019-06-10 13:42] mhow2 opened #164 "UI /edit view: show if the working model has been modified since last save"
When you are working on models, it would be handy to know if the model you're working on has been altered since last save. Most of the time you have a (*) near the project name / filename to warn the user that the file potentially needs to be saved.

[2019-06-10 13:55] mhow2 commented on #131
Closing for now. Thanks !

[2019-06-10 13:55] #131 closed

[2019-06-10 14:04] mhow2 opened #165 "UI: after importing a model, "view" to this model"
When you import a json file from the edit view, there is a redirection to the viewer with the first model item selected. I assume that the redirection to "view" is here to provide the user a first visual look to the freshly imported model (right ?). If we want to keep this behavior, we need the redirection to happen to the model that has just been imported.

[2019-06-10 14:17] mhow2 opened #166 "assessment graph shows data for all projects instead of selected one"
I'm providing our WIP model :  [qmodel_OW2-MRL_CMR-v0.1.9.json.txt](https://github.com/Bitergia/prosoul/files/3272367/qmodel_OW2-MRL_CMR-v0.1.9.json.txt)

If you assess against this model and select a project in the top dropdown (here `spoon`) you'll see something like follow.

![Screenshot_2019-06-10 Prosoul Quality Models Assessment](https://user-images.githubusercontent.com/9987241/59201317-741

[2019-06-10 14:21] mhow2 commented on #152
Just in case, we have reopened that one because we want to keep the form on-screen in case of a mandatory or wrong value specified, upon submit. In doing so we avoid the user to retype again all the data.

[2019-06-10 15:33] mhow2 commented on #110
see my comment in #247 to me, in the data dropdown, while we currently get only one entry for `Active Users` we should rather see one entry per metric available. So I wonder what metric value we get for such a metric in the current state !?

[2019-07-29 10:08] mhow2 opened #171 "reverse thresholds might not work properly"
I've been testing the **Reverse Thresholds** feature in the metric property.
The thresholds are `0,20,75,100,150` and whatever I specific (yes/no) in the Reverse Thresholds, I still get a score value of `2` (the assessed value is `53`). Shouldn't I get `3` ?

[2019-07-30 08:46] #171 closed

[2019-07-30 08:48] dlumbrer commented on #171
Hi @mhow2,

We have included a PR (#172) that should fix the issue. Please, test it when you can and feel free to reopen the issue if there is any problem.

Thanks!

[2019-08-06 11:14] mhow2 opened #173 "ability to assess a same score value for several thresholds"
Let's take the metric `Method Hiding Factor (Java)`. As far as I've been told, this metric should be contained as close as possible close to 10% but not below.

For instance, if we define the thresholds `10,20,30,40,50`, it works well if we get contained in the range 10-infinite, for example a score of 4 between 10 and 20 and 0 above 50.
But in this use case we also need a score of 0 between value

[2019-08-09 08:32] valeriocos commented on #173
Sorry for the late reply!

If I understand correctly, you would like to focus the scores only on a specific range. For instance, you would like something similar to:
0 - 10 ---> 0
10 - 20  ---> 4
20 - 30  ---> 3
30 - 40  ---> 2
40 - 50  ---> 1

is that correct @mhow2 ?

[2019-08-09 08:40] mhow2 commented on #173
Well, indeed it looks a simpler way to say it. You could update the issue title if you need :)

[2019-08-09 11:22] valeriocos commented on #173
To keep consistency in Prosoul, I would prefer to manipulate the metric during the scava2es process (removing the values from 0 to 10). I will open a PR in scava and mention this issue.

[2019-08-09 14:32] valeriocos commented on #173
PR ready on scava: https://github.com/crossminer/scava/pull/333

[2019-09-12 10:00] mhow2 opened #174 "Assessement project selection w/graph weird thing"
In the screenshot below, I have selected 'spoon'. I don't understand why I rather see `cliflegacy` there.
Here is the model used :
[qmodel_OW2-MRL_CMR-v0.2.4.json.txt](https://github.com/Bitergia/prosoul/files/3622075/qmodel_OW2-MRL_CMR-v0.2.4.json.txt)

![image](https://user-images.githubusercontent.com/9987241/64774589-c6282680-d554-11e9-8abe-c7f834300382.png)

[2019-09-12 10:01] mhow2 opened #175 "round score in graph"
In the screenshot, we have a lot of numbers after the comma. Can we handle this ?

![image](https://user-images.githubusercontent.com/9987241/64774715-07b8d180-d555-11e9-9489-b5770105bac0.png)

[2019-09-17 15:03] mhow2 commented on #174
Here is another screenshot I have as an example:
![image](https://user-images.githubusercontent.com/9987241/65053958-134d3380-d96d-11e9-8a19-541d260189e2.png)

[2019-09-17 15:13] mhow2 opened #176 "missing attributes in goals"
In the assessment table, in each goals I see some attributes are missing.
See the original model :
[qmodel_OW2-MRL_CMR-v0.2.4.json.txt](https://github.com/Bitergia/prosoul/files/3622087/qmodel_OW2-MRL_CMR-v0.2.4.json.txt)

for this specific screenshot extract , the goal `MRL_Sustainability` misses the attribute `Sustainability_CMR`

![image](https://user-images.githubusercontent.com/9987241/650546

[2019-09-23 09:38] dlumbrer commented on #176
This behavior appears due to the project does not have assessment in that attribute.

Please, feel free to reopen the issue

[2019-09-23 09:38] #176 closed

[2019-09-23 09:55] #175 closed

[2019-09-23 10:07] mhow2 commented on #176
"no assessment" you mean no value ? I would have a line for the attribute, telling there is no value at all for the metrics. WDYT ? The goal is to have a clear overview of which Attributes miss all the values.

[2019-09-23 10:15] dlumbrer commented on #176
Yes, I mean no value, sorry. The data structure of the assessment does not retrieve the attribute if does not have an assessment value, so this change may be tough

[2019-09-23 10:20] dlumbrer commented on #174
It reminds me of an old issue of Prosoul, I have been testing the issue with the last version and I don't see this problem. Could you try again with the last Prosoul image?

Please, reopen the issue if the problem keeps

[2019-09-23 10:22] mhow2 commented on #173
I'm closing that one. Thanks.

[2019-09-23 10:22] #173 closed

[2019-09-23 10:23] dlumbrer commented on #166
We are going to follow #175!, thanks!

[2019-09-23 10:23] #166 closed

[2019-09-23 10:33] mhow2 commented on #174
Hi @dlumbrer , thank you. But I reproduced just a few days ago and I still can. You can test by yourself with http://scava-dev.ow2.org:8000/prosoul/create_assessment
There you can assess between 2018 and 2020 and check
PS: I still cannot reopen issues in the project

[2019-09-23 10:40] dlumbrer commented on #165
PR #178 has been submitted. This issue is going to be closed when merged.

THanks!

[2019-09-23 10:53] #165 closed

[2019-09-23 11:51] #174 closed

[2019-09-23 11:51] dlumbrer commented on #174
Thanks for sharing the url to test it!, you were right. This PR #179 should fix it

[2019-09-23 12:08] #157 closed

[2019-09-23 12:23] dlumbrer commented on #152
Reviewing the way that this is done, it is not possible to maintain the data in the form because the check of the data is done on the server-side, so when this check is done it forces an HTTP response, losing the data.

If this is a high priority task we can think about how to do it. Let me know if this is the case

[2019-09-23 12:23] #152 closed

[2019-09-23 13:21] #112 closed

[2019-09-23 13:54] #111 closed

[2019-09-23 15:12] dlumbrer commented on #110
Now the entries of the dropdown follow the nex template:

`metric_name` - `metric_id`

So we would have:

`Inactive Users` - `newsgroups.activeusers`

and

`Inactive Users` - `bugs.inactiveusers`

[2019-09-23 15:13] #110 closed

[2019-09-26 09:32] mhow2 opened #184 "data empty with new "data" field dropdown"
Since we have made #110 or maybe #111, there is an issue when you select the metric data in the dropdown with the scheme <metricname> - <metricId>. For instance with `Unanswered Bugs - bugs.unansweredBugs` => the system cannot find any value for the metric. However if you choose  `Unanswered Bugs` it starts working.

![image](https://user-images.githubusercontent.com/9987241/65677081-466c8280-e051

[2019-09-26 10:45] mhow2 commented on #184
In the json it is stored as `"data_implementation": "OMM_DOC - omm_OMM_DOC"` , so it might be that the system use this value to search ES, which would probably fail.

[2019-09-26 11:01] dlumbrer commented on #184
That's probably the issue, I will fix it ASAP, thanks for the reporting @mhow2

[2019-09-27 08:17] mhow2 commented on #184
Thanks @dlumbrer , keep me informed

[2019-09-27 10:28] dlumbrer commented on #184
Hi @mhow2 ,

A PR (#185) has been submitted, as you said the problem is that we were doing the assessment with the wrong metric_data name.

Once included, this issue must be solved

Thanks

[2019-09-27 10:47] mhow2 commented on #184
Would it means that I'll have to re-apply all the metric form one by one ?
I'll wait for the fix to be merged in order to test (I'm using the Docker image).

[2019-09-27 10:50] dlumbrer commented on #184
No, it is just a simple change, It will use the right name to assess but you will see in the selection form the `name - id`. So you wouldn't have to change anything

[2019-09-27 11:16] #184 closed

[2019-10-29 08:30] mhow2 opened #186 "Some metric doesn't get value (and should not be zero)"
Hi @dlumbrer and @valeriocos,

Today I was checking and refining the assessment of our metrics.
In the following example, I'm working on project `Lutece`.
This is the debug dashboard that shows that the `MHFJavaHistoric_filtered_gt10` metricId and we see there are values available in ES index `scava-metrics`.

![2019-10-29_08-46](https://user-images.githubusercontent.com/9987241/67747620-6d8bea80-

[2019-11-04 10:00] mhow2 opened #187 "missing assessment start, end and assessment date"
We need to known when the assessment took place, and I notice that `datetime` is null in ES.
It might be the field that was prepared for this ?

[code]

[2019-11-06 10:39] mhow2 commented on #187
Hi Valerio thank you for your answer.
Now I understand better. The original need for this issue is we need to know what's the timespan of the assessment.

![image](https://user-images.githubusercontent.com/9987241/68291113-7021bc00-0089-11ea-8a27-b83b6487a277.png)

For a start, could we have the "from date" dropped into the "datetime" field in ES (instead of None currently) ?

Then I think I've ma

[2019-11-07 15:52] #187 closed

[2019-11-07 17:09] valeriocos commented on #186
The PR https://github.com/Bitergia/prosoul/pull/189 fixes this problem. In a nutshell, only the first 10 projects were returned. I tested it locally with the fix and I can see Lutece with the correct data.

I have been checking the code and it seems that the data is correctly calculated (meaning that empty data is not replaced with zero values). Thus, the zero values are probably set at visualizat

[2019-11-08 07:26] mhow2 commented on #186
Thanks ! :+1:

Yes, instead of NaN. It could be a display issue in Prosoul (and we need NaN value in ES records as well)

TYVM !

[2019-11-08 07:31] valeriocos commented on #186
I'm not sure this can be easily achieved

[2019-11-08 10:53] dlumbrer commented on #186
Hi @mhow2

We already worked on this (issue #141) and we decided to put 0 to the assessment that has no value.

 We can change that, what would you like to have instead of 0?, and what do you mean of "it could be display issue in Prosoul"?

[2019-11-08 11:40] mhow2 commented on #186
Hi @dlumbrer,

I'll try to reformulate.

I don't remember exactly the context of #141 - but now that I have made a step back, what I mean is **we can't put a score of zero to metrics for which no value can be assessed**.

Just for the context and recall what is the current situation, there are two places where we can see the values from the assessment:
1. In the assessment view / dendogram (it inc

[2019-11-08 11:45] valeriocos commented on #186
thank you @mhow2 for the clarification

OK

We are checking it

[2019-11-08 11:52] mhow2 commented on #186
To drive my point home see this :

![image](https://user-images.githubusercontent.com/9987241/68474294-4ac9b500-0225-11ea-8375-d53cffeccc15.png)

In the above screenshot, I see that two out of the three metrics show "zero" and that the attribute gets a value of 0.67  (2/3 = 0.67).
If I'd look into ES, I would find only one record (for ...label_joy metric) and would get a totally different result f

[2019-11-08 12:36] valeriocos commented on #186
What should be the attribute value in your opinion?

[2019-11-08 14:02] mhow2 commented on #186
I would say `2` but with mentioning that it's incomplete. For example in the UI you could mention `2 (!)`

At the metric level, still in the dendogram and when no value can be assessed, instead of `0`  I would mention `no data` or something similar.

WDYT ? Does it sound logical to you guys ? :)

[2019-11-08 14:25] valeriocos commented on #186
Maybe your point gets deviating from home :) I'm not sure about the right answer.

Currently, the value 0.67 may be not precise since the other two attributes don't exist. On the other hand, 2 may not be precise either since it would show that the project performs good on that given attribute. Nevertheless, that value is different from a project that scores 2 having the 3 metrics not empty.

I bel

[2019-11-08 15:28] dlumbrer commented on #186
From a technical point of view, change the assessment in the dendrogram is easy to do, I mean, change the 0 values (when no data) to "No data" is an easy change. And put an alert if the average is incomplete (putting a ( ! ) or changing the color to red, for instance) can be done as well.

Regarding the checkbox/button, we have to study if it is possible, but I would say that a checkbox in the ass

[2019-11-08 15:48] valeriocos commented on #186
Thank you @dlumbrer for the feedback!

If we go for the checkbox, we have then to decide what to store in elasticsearch and this may have an impact on the dashboard.

@mhow2 we can implement what you propose (https://github.com/Bitergia/prosoul/issues/186#issuecomment-551658231), and maybe we can leave the checkbox option as future enhancement.

[2019-11-12 08:05] mhow2 commented on #186
Yes we can have a talk. I just want to mention again that in ES the values that have zero are not recorded so the attribute score deduced would be 2 in the case above, so my first concern it to have something consistent between ES and UI.
My second thought is we don't want to penalize projects because some metric is missing in the system...
Let the user the choice to decide is among my expectation

[2019-11-12 09:42] valeriocos commented on #186
When are you available for a call?

[2019-11-13 09:40] dlumbrer commented on #186
Hi @mhow2,

@valeriocos updated me about the issue, in terms of the dendrogram I'm going to develop the next feature:

- If there is no data in a leaf of the dendrogram there will be the message `no_value` with a red color.
- The average of the parents will not take into account the `no_value` records
- The average that is not complete (with sons with `no_value`) will have a message in red color,

[2019-11-13 09:57] mhow2 commented on #186
hi @dlumbrer : that sounds good to me, thanks !
@valeriocos : keep me updated with what we both discussed yesterday and what you decide to implement regarding the data in ES when there is no value.

[2019-11-13 14:15] dlumbrer commented on #186
This PR (#191) should fix it, please @valeriocos , check it when you can

[2019-11-14 11:08] mhow2 commented on #186
@dlumbrer I have redeployed this morning it looks OK to me.

[2019-11-19 07:46] mhow2 commented on #186
hi @valeriocos ,
This morning I have performed more testing on the latest changes about null values in ES.
There might be a little issue (low priority) : I am issuing an assessment between 2018-01-01 and 2018-31-12, and then I query ES with:
[code]
I get 32 items back (which is expected as there are 32 metrics mapped to the model) with one coming from the `scava-metrics_null_scores` (which is expe

[2019-11-19 07:58] valeriocos commented on #186
I'll have a look at this issue in the next days and report, thanks @mhow2

[2019-11-21 11:14] #186 closed

[2020-01-21 08:25] mhow2 opened #195 "assessment : strange behavior with a metric"
For project "Lutece" in our instance, I miss the assessed value for the following metric (from 01/01/2018 to 01/01/2020) :

![image](https://user-images.githubusercontent.com/9987241/72786627-59bde200-3c2e-11ea-8a74-d7400f41a8e2.png)

What I find odd is in the above screenshot the computation type is missing `(last)`

While the data seems to exist in ES:
![image](https://user-images.githubusercont

[2020-01-21 08:46] mhow2 commented on #195
false alarm. joy != love

[2020-01-21 08:46] #195 closed

[2020-02-21 07:01] valeriocos opened #197 "Update documentation"
The goal of this issue is to improve the documentation by adding information such as:
- context where the tool was developed (Crossminer)
- steps to run the tool
- brief description of the approach

[2020-02-27 11:32] vchrombie commented on #13
Hi @acs

I would like to help with this. Can I work on this ?

[2020-02-27 11:54] valeriocos commented on #13
sure! thank you @vchrombie . As a reference you can rely on the licenses of other components (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L3).

[2020-02-27 12:11] vchrombie commented on #13
Thanks @valeriocos

I will send a PR, to discuss any more things to add. Also on another note, the copyright information needs to be updated the perceval backend source files too.

[2020-02-27 12:16] valeriocos commented on #13
the copyright and author info should be probably updated for all components. Maybe this task could be automated with some scripts. If you want, we can discuss it in a separated issue, WDYT?

[2020-02-27 12:20] vchrombie commented on #13
Okay, I am up for it. Can I open an issue regarding this in the [grimoirelab](https://github.com/chaoss/grimoirelab/) repository as it accounts for all the components?

[2020-02-27 12:24] valeriocos commented on #13
sure!

[2020-03-01 21:04] #13 closed

[2020-03-28 12:23] vchrombie opened #204 "index_pattern is not up to date in the templates"
I was facing problems when I tried to visualize the QM using Prosoul.

![1](https://user-images.githubusercontent.com/25265451/77745047-9ba94100-7040-11ea-9de3-970c9c758e24.png)

But the result of the dashboard was empty.

![2](https://user-images.githubusercontent.com/25265451/77745060-a19f2200-7040-11ea-9d18-dc2f0d546f11.png)

The whole procedure can be found at https://github.com/vchrombie/chao

[2020-03-28 12:26] vchrombie commented on #204
One possible solution is to update the dashboard in the local instance manually and export the dashboard using [kidash](https://github.com/chaoss/grimoirelab-kidash) and update the existing index_pattern.

@valeriocos, correct me if I am wrong.

I am working on this and I will be sending a patch to this soon.
Thanks. :slightly_smiling_face:

[2020-03-28 12:30] vchrombie opened #205 "Kibana dashboard URL doesn't have the port number"
Whenever we generate a dashboard (either in Visualize or Assessment), we get the link of the dashboard as localhost/app/kibana#/dashboards, but that doesn't seem to work as kibiter is at the port 5601. The correct link is localhost:5601/app/kibana#/dashboards

![](https://raw.githubusercontent.com/vchrombie/chaoss-microtasks/master/microtask-9/images/qm_visualize_result.png)

We mention the Kibana

[2020-03-28 13:05] valeriocos commented on #204
Thanks @vchrombie for reporting this error!

Great!

[2020-03-29 17:19] vchrombie commented on #197
Hi @valeriocos

I have a few doubts WRT this issue.

These two sections are already existing, but ya they can be improved. I can understand that.
How about having a GETTING_STARTED.md for this repository too? Just like how we had for sirmordred.

Here, the contents can be
- Execution
  - From source code repository
  - Demo Video
  - From pip package
  - Using a docker image
- How to
  - Edit
  -

[2020-03-29 17:46] vchrombie commented on #53
Hi

I have a doubt. I was thinking if this is completed or not. If not, I would like to work on this.

Also, I was wondering if this issue can be added as a small task in the GSoC proposal.
@valeriocos WDYT?

[2020-03-30 08:47] valeriocos commented on #197
Hi @vchrombie, thank you for working on this issue!

I like the idea, but maybe we don't have enough content ATM.
What do you think about reshaping the readme, sketching here the different sections it should include?
Once we have the sections, we can decide to have everything in the README or move some content to the getting started.

Find below a proposal based on your suggestions

- Prosoul (wit

[2020-03-30 08:56] vchrombie commented on #197
Hi @valeriocos

That is a valid point too.

Okay, this seems to be better.

Okay, so I assume there is nothing more to add about it as the current content is enough.

[2020-03-30 09:00] vchrombie commented on #197
Another reply to https://github.com/Bitergia/prosoul/issues/197#issuecomment-605866841

The structure seems to be perfect. I want to clarify a few more things.
So, what about the following sections, can we remove them?

- https://github.com/Bitergia/prosoul#import--export
- https://github.com/Bitergia/prosoul#requirements
- https://github.com/Bitergia/prosoul#prosoul-with-crossminer
- https://gith

[2020-03-30 09:18] valeriocos commented on #197
Thanks @vchrombie !

Yes, right!

So, what about the following sections, can we remove them?

Yes, but part of the content can be reused for the new structure (e.g. import/export and requirements). We could move this old content inside https://github.com/Bitergia/prosoul/tree/master/doc and see if we can take something from it after the initial reshaping. In the second iteration, we can delete it

[2020-03-30 09:20] valeriocos commented on #53
Hi @vchrombie , thank you for having a look at this issue!
It isn't completed.

That's really a good idea!

[2020-03-30 09:28] dlumbrer commented on #205
Hi @vchrombie ,

The `kibana_url` URL is defined by the env variable `KIBITER_HOST`, specifically here:

https://github.com/Bitergia/prosoul/blob/master/django-prosoul/prosoul/views.py#L40

If the env variable doesn't exist it uses `http://localhost:80` by default. So, if you define the variable in your env linking your kibana it should work.

Let us know if works! thanks!

[2020-03-30 09:40] vchrombie commented on #197
Thanks, @valeriocos for the reply.

Okay!

The plan seems to be good for me. I will work on this in the coming days and sent a PR for the first iteration.

[2020-03-30 09:46] valeriocos commented on #197
Great, thanks!

[2020-03-30 10:31] vchrombie commented on #205
Thanks @dlumbrer for the reply.

Thanks for the clarification.

Sure, I would try this and let you know how it goes.

[2020-03-30 11:41] vchrombie commented on #205
Hi @dlumbrer, I have another small doubt.

I had a look at the codebase and understood the logic. I see that we are updating the `kibana_url` with the `KIBANA_HOST` for the visualization and assessment.

https://github.com/Bitergia/prosoul/blob/master/django-prosoul/prosoul/views.py#L108

We need to input the `kibana_url` in the visualization form, is any reason not using the same instead of `KIBA

[2020-03-30 12:51] dlumbrer commented on #205
I think I don't understand the question here. We took the `kibana_url` from the form as well:

https://github.com/Bitergia/prosoul/blob/master/django-prosoul/prosoul/views.py#L91

Yes, that's a good idea

[2020-03-30 12:57] vchrombie commented on #205
Sorry for not being clear. I understood the `kibana_url` was taken from the form. I was asking if it is possible to return the same `kibana_url` instead of `KIBANA_HOST`.

I just want to see if it is possible without configuring the variable in the environment.

[2020-03-30 13:28] dlumbrer commented on #205
Oh I see!, sorry, I missundertood the question. Yes, I think we should change:

[2020-03-30 15:33] dlumbrer commented on #205
You are right, maybe we can develop the next behavior:

- If the form is not filled with the URL of Kibana, we use the `KIBANA_HOST` env. But it filled, we use just the `kibana_url` param of the form.

[2020-03-30 16:49] vchrombie commented on #205
Hi @dlumbrer

I guess the `kibana_url` param is already mandatory I guess. Never mind, but it is good to implement it in that way. :slightly_smiling_face:

[2020-03-30 17:12] vchrombie commented on #205
Hi @dlumbrer
Thanks for the help and clearing out the problem.
I want to ask if you have fixed it or planning to fix it.

Is it ok if I send a PR to fix this issue?

[2020-03-30 17:19] dlumbrer commented on #205
Sure! Of course you can do it! It would be awesome 👍😄

[2020-03-30 19:05] vchrombie commented on #205
I have sent the PR. :smile:

Thank you @dlumbrer for the help. I could fix it. I would like to share the procedure here.

I was not using docker for prosoul. I was using the source code to build Prosoul. So, I did the following procedure.
1. Deactivate the virtual environment you are using currently.
2. add the activate script of the virtual environment
[code]
3. add the line `export KIBITER_HOST=

[2020-03-31 08:30] #205 closed

[2020-03-31 08:35] dlumbrer commented on #205
I tried the PR and it works as expected. Great job :+1:!

Thanks @vchrombie

[2020-03-31 13:49] #204 closed

[2020-04-08 09:25] valeriocos opened #208 "[Travis] upgrade pip and setuptools"
Following https://github.com/chaoss/grimoirelab-perceval/pull/643, the same fix should be applied to Prosoul.

@vchrombie do you want to prepare the PR? Thanks

[2020-04-08 09:29] vchrombie commented on #208
Sure @valeriocos, I would be happy to help you with it. :smile:

[2020-04-08 10:13] valeriocos commented on #208
Thank you @vchrombie !

[2020-04-08 10:13] #208 closed

[2020-04-09 20:01] vchrombie commented on #197
Hi @valeriocos
I worked on the initial revamp.

I moved a few contents like Tutorials, Prosoul with CROSSMINER and Prosoul with GrimoireLab to the doc folder.

Work needs to be done:
- A video that explains all the functions of the application, creating a basic QM and performing an assessment and replace the existing section in the Tutorial of README once completed.

Let me know if I have missed a

[2020-04-10 08:26] valeriocos commented on #197
No worries @vchrombie ! Thank you for your work!

No, you didn't :)

[2020-04-10 16:22] vchrombie commented on #197
Thanks for the merge @valeriocos.
I will complete the video and will add it here.

I am also working on adding zulip backend to perceval parallel, so it might take some time to complete the video. :sweat_smile:

[2020-04-10 16:27] valeriocos commented on #197
No worries, take your time @vchrombie ! :)

[2020-04-14 17:44] espoirMur commented on #53
@vchrombie Hello, How far with this task.
We can pair on this...
I also want to work on it...
I may have sometimes on the weekend, let me know if you are okay with that we can set up a call to discuss more...

[2020-04-14 19:00] vchrombie commented on #53
Hi @espoirMur
I haven't started with this task yet as I was busy with some other work but I am planning to do one phase of testing soon, before doing any big changes to the current project.

I am happy to collaborate with you. I would probably be free during the weekend. Let me know if you have any plans. :slightly_smiling_face:

[2020-04-14 20:15] espoirMur commented on #53
@vchrombie , Let me setup on my laptop, and start, we can collaborate on Saturdays....
Which communication channel do you use most often?
We can plan a call...

[2020-04-14 20:30] vchrombie commented on #53
Hi @espoirMur

You can use the documentation provided, https://github.com/Bitergia/prosoul#from-source-code.
There is a YouTube video too, https://www.youtube.com/watch?v=-wU1ck4ZrUw.
I hope it helps.

Usually, we communicate over here (the issues), also we use mail or IRC.
If you have any doubts, feel free to mail us.

@valeriocos would help too. :smile:
Thanks.

[2020-04-15 12:16] espoirMur commented on #53
Any ideas on how to run Elasticsearch? it's not clear in the documentation, I setup the project and I want to run it in my laptop....

[2020-04-15 12:21] valeriocos commented on #53
Hi @espoirMur , you can use the docker-compose at https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#getting-the-containers-

[2020-08-19 14:12] vchrombie opened #214 "[docker] docker-compose file seems outdated"
I was trying to test the docker-compose solution, but it has turned out showing some error
[code]

I changed the format of the `docker-compose.yml` and it worked perfectly fine.
[code]

Also, do you think we should update the `elasticsearch` and `kibiter` configurations to ES/Kibiter 6.8?

[2020-08-19 14:28] valeriocos commented on #214
Hi @vchrombie ,

good point! I agree to update the elasticsearch and kibiter confs to be aligned with the rest of the stack.

You should be able to reuse part of the docker-composes at https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#getting-the-containers-

[2020-08-19 14:46] vchrombie commented on #214
Hi @valeriocos

Awesome. I'm thinking to use the [with SearchGuard](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#docker-compose-with-searchguard-) configuration as I remember facing some SSL configuration problem with the without SearchGuard configuration, a few months back. I didn't check in detail about the problem. Using with SearchGuard was a quick fix. :swea

[2020-08-19 16:23] valeriocos commented on #214
Perfect!

It shouldn't have any effect.
That doc looks old. AFAIR, everything in CROSSMINER is imported with scripts executed from https://github.com/crossminer/scava-deployment/blob/master/docker-compose.yml#L164

[2020-08-19 19:04] vchrombie commented on #214
Ok!

[2020-12-19 11:20] lilbevie82 commented on #164
#51 code-of-conduct-enforcement/process_documentation/community/ban-rollout.md

[2020-12-19 11:23] lilbevie82 commented on #164
UI/edit viewhttps://github.com/Bitergia/prosoul/issues/164#issue-454177487

[2020-12-19 11:23] lilbevie82 commented on #164
#214

[2020-12-19 11:24] lilbevie82 commented on #164
#214 #213